**/.DS_Store

*.pyc
__pycache__
src/pgen.egg-info/
*/tmp/*.fasta

condaenv.*.txt
*/tmp/*.txt
*.csv

results_*/

**/__pycache__
**/*.pyc

generated_sequence/*
ARgenerated_sequence/*

generated_metadata/*
ARgenerated_metadata/*

output_scores.csv

**/protein_bert.egg-info
**/original_weights

**/*.pdb
**/*.pae.txt

masked-ar_protgen/*
ar_protgen/*

EVmutation/example/*